Repository googleapis/java-aiplatform, pull requests merged in 2021-04, with the labels that each got.

#231 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: automerge, cla: yes

#230 [CHANGE ME] Re-generated to pick up changes from synthtool.
  .github/sync-repo-settings.yaml
  .kokoro/dependencies.sh
  synth.metadata
Labels: api: aiplatform, cla: yes, context: full

#241 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: aiplatform, automerge, cla: yes

#242 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: aiplatform, automerge, cla: yes

#245 fix: release scripts from issuing overlapping phases
  .kokoro/release/snapshot.sh
  .kokoro/release/stage.sh
  synth.metadata
Labels: api: aiplatform, automerge, cla: yes, context: full

#212 samples: updates samples to v1 (2 of 8)
  samples/snippets/src/main/java/aiplatform/CreateDatasetImageSample.java
  samples/snippets/src/main/java/aiplatform/CreateDatasetSample.java
  samples/snippets/src/main/java/aiplatform/CreateDatasetTabularBigquerySample.java
  samples/snippets/src/main/java/aiplatform/CreateDatasetTabularGcsSample.java
  samples/snippets/src/main/java/aiplatform/CreateDatasetTextSample.java
  samples/snippets/src/main/java/aiplatform/CreateDatasetVideoSample.java
  samples/snippets/src/main/java/aiplatform/CreateEndpointSample.java
  samples/snippets/src/main/java/aiplatform/CreateHyperparameterTuningJobPythonPackageSample.java
  samples/snippets/src/main/java/aiplatform/CreateHyperparameterTuningJobSample.java
  samples/snippets/src/test/java/aiplatform/CancelTrainingPipelineSampleTest.java
  samples/snippets/src/test/java/aiplatform/CreateHyperparameterTuningJobPythonPackageSampleTest.java
  samples/snippets/src/test/java/aiplatform/CreateHyperparameterTuningJobSampleTest.java
  samples/snippets/src/test/java/aiplatform/CreateTrainingPipelineCustomTrainingManagedDatasetSampleTest.java
Labels: api: aiplatform, cla: yes, samples

#254 test(teardown): refactored teardown section of test
  samples/snippets/src/test/java/aiplatform/CreateTrainingPipelineCustomJobSampleTest.java
Labels: api: aiplatform, cla: yes

#255 test(env var): added missing requireEnv val
  samples/snippets/src/test/java/aiplatform/CreateTrainingPipelineCustomTrainingManagedDatasetSampleTest.java
Labels: api: aiplatform, cla: yes

#215 samples: updates samples to v1 (3 of 8)
  samples/snippets/src/main/java/aiplatform/CreateTrainingPipelineCustomJobSample.java
  samples/snippets/src/main/java/aiplatform/CreateTrainingPipelineCustomTrainingManagedDatasetSample.java
  samples/snippets/src/main/java/aiplatform/CreateTrainingPipelineImageClassificationSample.java
  samples/snippets/src/main/java/aiplatform/CreateTrainingPipelineImageObjectDetectionSample.java
  samples/snippets/src/main/java/aiplatform/CreateTrainingPipelineSample.java
  samples/snippets/src/main/java/aiplatform/CreateTrainingPipelineTabularClassificationSample.java
  samples/snippets/src/main/java/aiplatform/CreateTrainingPipelineTabularRegressionSample.java
  samples/snippets/src/main/java/aiplatform/CreateTrainingPipelineTextClassificationSample.java
  samples/snippets/src/main/java/aiplatform/CreateTrainingPipelineTextEntityExtractionSample.java
  samples/snippets/src/main/java/aiplatform/CreateTrainingPipelineTextSentimentAnalysisSample.java
  samples/snippets/src/main/java/aiplatform/CreateTrainingPipelineVideoActionRecognitionSample.java
  samples/snippets/src/main/java/aiplatform/CreateTrainingPipelineVideoClassificationSample.java
  samples/snippets/src/main/java/aiplatform/CreateTrainingPipelineVideoObjectTrackingSample.java
  samples/snippets/src/test/java/aiplatform/CreateHyperparameterTuningJobSampleTest.java
Labels: api: aiplatform, cla: yes, samples

#235 samples: updates samples to v1 (5 of 8)
  samples/snippets/src/main/java/aiplatform/ExportModelSample.java
  samples/snippets/src/main/java/aiplatform/ExportModelTabularClassificationSample.java
  samples/snippets/src/main/java/aiplatform/ExportModelVideoActionRecognitionSample.java
  samples/snippets/src/main/java/aiplatform/GetBatchPredictionJobSample.java
  samples/snippets/src/main/java/aiplatform/GetHyperparameterTuningJobSample.java
  samples/snippets/src/main/java/aiplatform/GetModelSample.java
  samples/snippets/src/main/java/aiplatform/GetTrainingPipelineSample.java
Labels: api: aiplatform, cla: yes, samples

#233 samples: updates samples to v1 (4 of 8)
  samples/snippets/src/main/java/aiplatform/DeleteBatchPredictionJobSample.java
  samples/snippets/src/main/java/aiplatform/DeleteDataLabelingJobSample.java
  samples/snippets/src/main/java/aiplatform/DeleteDatasetSample.java
  samples/snippets/src/main/java/aiplatform/DeleteEndpointSample.java
  samples/snippets/src/main/java/aiplatform/DeleteModelSample.java
  samples/snippets/src/main/java/aiplatform/DeleteTrainingPipelineSample.java
  samples/snippets/src/main/java/aiplatform/DeployModelCustomTrainedModelSample.java
  samples/snippets/src/main/java/aiplatform/DeployModelSample.java
Labels: api: aiplatform, cla: yes, samples

#337 chore: Increasing timeout createdataset
  samples/snippets/src/main/java/aiplatform/CreateDatasetTextSample.java
Labels: api: aiplatform, automerge, cla: yes
