Repository googleapis/java-aiplatform, pull requests merged in 2022-07, with the labels that each got.

#982 ci: removing clirr from required checks
  .github/sync-repo-settings.yaml
Labels: automerge, size: xs, api: vertex-ai

#976 feat(samples): added all entity type samples
  README.md
  samples/snippets/src/main/java/aiplatform/CreateEntityTypeMonitoringSample.java
  samples/snippets/src/main/java/aiplatform/CreateEntityTypeSample.java
  samples/snippets/src/main/java/aiplatform/DeleteEntityTypeSample.java
  samples/snippets/src/main/java/aiplatform/GetEntityTypeSample.java
  samples/snippets/src/main/java/aiplatform/ListEntityTypesAsyncSample.java
  samples/snippets/src/main/java/aiplatform/ListEntityTypesSample.java
  samples/snippets/src/main/java/aiplatform/UpdateEntityTypeMonitoringSample.java
  samples/snippets/src/main/java/aiplatform/UpdateEntityTypeSample.java
  samples/snippets/src/test/java/aiplatform/EntityTypeSamplesTest.java
Labels: samples, size: l, api: vertex-ai

#978 chore: mark native image checks as required
  .github/sync-repo-settings.yaml
Labels: size: xs, api: vertex-ai

#974 feat(samples): add remaining featurestore api samples
  README.md
  samples/snippets/src/main/java/aiplatform/CreateFeaturestoreFixedNodesSample.java
  samples/snippets/src/main/java/aiplatform/GetFeaturestoreSample.java
  samples/snippets/src/main/java/aiplatform/ListFeaturestoresAsyncSample.java
  samples/snippets/src/main/java/aiplatform/ListFeaturestoresSample.java
  samples/snippets/src/main/java/aiplatform/UpdateFeaturestoreFixedNodesSample.java
  samples/snippets/src/main/java/aiplatform/UpdateFeaturestoreSample.java
  samples/snippets/src/test/java/aiplatform/FeaturestoreSamplesTest.java
Labels: samples, size: l, api: vertex-ai
